
@{
    ViewBag.Title = "AccesoRestringido";
    Layout = "~/Views/Shared/_LayoutAdministrativo.cshtml";
}

<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="alert alert-danger text-center" role="alert" >
            <h5>Usted no cuenta con los permisos necesarios, por favor contacte al administrador!</h5>
        </div>
    </div>
</div>

