body {
}



#edit-modal .modal-body {
    padding:15px;
}

#edit-modal .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a {
    color:#337ab7;
    background-color:transparent;
    border-bottom: 2px solid #f4d078 ;
}

#edit-modal hr.navbar-separator {
   border-top:  1px solid #232f3e;
}

.bg-success, .bg-info, .bg-danger, .bg-warning {
    padding:20px;
    border-radius:10pt;
}
/*section 3 bank info*/
#edit-modal .bg-accts {
    padding:20px;
    border-radius:10pt;
}