
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClientes.cshtml";
}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        @*<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>*@
        <div class="carousel-inner" role="listbox" >
            <div class="item active">
                <img class="first-slide" src="~/Images/biblioteca.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Bienvenido</h1>
                        <p>A nuestra nueva libreria en linea.</p>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.carousel -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container-fluid testimonial-group">
        <div v-el:categories class="">
            <div class="category"  v-for="(index,category) in filteredCategories  ">
                <button id="scrollleft{{index}}" class="pull-left scrollBtn" onclick="move_left({{index}})"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                <button id="scrollright{{index}}" class="pull-right scrollBtn" onclick="move_right({{index}})"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                <div class="category-header">
                    <h1>{{category.Descripcion}}</h1><hr />
                </div>
                <div class="row category-body" id="mainbookcontainer{{index}}">
                    <div class="col-xs-4 producto text-center" v-for="book in category.Libros">
                        <p style="color:#232f3e;">{{book.Titulo}}</p>
                        <img class="img-circle " src="~/Images/libros/{{book.Image}}.jpg" alt="Generic placeholder image" width="140" height="140">
                        <p class="precio">&#162;{{book.Precio}} I.V.I</p>
                        <p v-if="book.Stock === false" class="" style="color:red"><span class="glyphicon glyphicon-exclamation-sign"></span><strong>Agotado</strong></p>
                        <p><a class="btn btn-default btn-details" v-on:click="openModal(book,'bookDetails')" role="button">Ver Detalles »</a></p>
                    </div>
                </div>
            </div>
        </div>
        <footer style="margin-top:30px;">
            <hr />
            <p>© 2017 SIGELIBMA. Libreria Iglesia Mana </p>
        </footer>
    </div>

