@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_LayoutAdministrativo.cshtml";
}

<!-- AGREGAR  NUEVO MODAL --->
<div id="agregar-modal" data-backdrop="false" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Inventario - Agregar</h4>
            </div>
            <div class="modal-body ">
                <div v-if="inventarios.length > 0">
                    <!-- Alert-->
                    <div class="row text-center">
                        <div v-if="alertModal.status" class=" alert alert-dismissible" role="alert" v-bind:class="{ 'alert-danger ' : lowerCase(alertModal.type) === 'danger' , 'alert-info ' : lowerCase(alertModal.type) === 'info','alert-success ' : lowerCase(alertModal.type) === 'success'}">
                            <button type="button" class="close" v-on:click="alertModal.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong v-if="lowerCase(alertModal.type) === 'danger' ">Atencion!</strong>
                            <strong v-else>Info!</strong>
                            {{alertModal.message}}
                        </div>
                    </div>
                    <form id="formCartPayment" v-on:submit.prevent="agregar()">
                        <!-- Content-->
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <spinner v-ref:spinner2 size="md" fixed text="Procesando, por favor espere."></spinner>
                                <div>
                                    <div class="form-group">
                                        <select class="form-control" required v-model="modalObject.libro">
                                            <option v-bind:value="libro.codigo" v-for="libro in libros">{{libro.codigo}}-{{libro.titulo}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <vueinput v-bind:value.sync="modalObject.stock" min="0" label="Cantidad Existencia" help="" type="number" error="Este campo es requerido/Solo acepta numeros." placeholder="" pattern="[0-9]+$" mask="" minlength="" v-bind:enter-submit="true" required icon></vueinput>
                                    </div>
                                    <div class="form-group">
                                        <vueinput v-bind:value.sync="modalObject.minimo" min="0" label="Cantidad Minima" help="" type="number" error="Este campo es requerido/Solo acepta numeros." placeholder="" pattern="[0-9]+$" mask="" minlength="" v-bind:enter-submit="true" required icon></vueinput>
                                    </div>
                                    <div class="form-group">
                                        <vueinput v-bind:value.sync="modalObject.maximo" min="0" label="Cantidad Maxima" help="" type="number" error="Este campo es requerido/Solo acepta numeros." placeholder="" pattern="^[0-9]+$" mask="" minlength="" v-bind:enter-submit="true" required icon></vueinput>
                                    </div>
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select v-model="modalObject.estado" required class="form-control">
                                            <option v-bind:value="estado" v-for="estado in estados">{{estado.descripcion}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pager Btns-->
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-default btn-pager">
                                    Procesar <span class="glyphicon glyphicon-arrow-right"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <h4 v-else class="text-center">No se obtuvo la informacion de este producto</h4>
            </div>
            <div class="modal-footer">
                <button v-else type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- EDIT MODAL --->
<div id="edit-modal" data-backdrop="false" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Inventario - Modificar</h4>
            </div>
            <div class="modal-body ">
                <div v-if="inventarios.length > 0">
                    <!-- Alert-->
                    <div class="row text-center">
                        <div v-if="alertModal.status" class=" alert alert-dismissible" role="alert" v-bind:class="{ 'alert-danger ' : lowerCase(alertModal.type) === 'danger' , 'alert-info ' : lowerCase(alertModal.type) === 'info','alert-success ' : lowerCase(alertModal.type) === 'success'}">
                            <button type="button" class="close" v-on:click="alertModal.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong v-if="lowerCase(alertModal.type) === 'danger' ">Atencion!</strong>
                            <strong v-else>Info!</strong>
                            {{alertModal.message}}
                        </div>
                    </div>
                    <form id="formCartPayment" v-on:submit.prevent="modificar()">
                        <!-- Content-->
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <spinner v-ref:spinner1 size="md" fixed text="Procesando, por favor espere."></spinner>
                                <div >
                                    <div class="form-group">
                                        <vueinput v-bind:value.sync="modalObject.libro.codigo" label="Codigo Libro" help="" error="Este campo es requerido." placeholder="" pattern="^[a-zA-Z\s]+$" mask="" minlength="" v-bind:enter-submit="true" required icon readonly></vueinput>
                                    </div>
                                    <div class="form-group">
                                        <vueinput v-bind:value.sync="modalObject.libro.titulo" label="Titulo Libro" help="" error="Este campo es requerido." placeholder="" pattern="^[a-zA-Z\s]+$" mask="" minlength="" v-bind:enter-submit="true" required icon readonly></vueinput>
                                    </div>
                                    <div class="form-group">
                                        <vueinput v-bind:value.sync="modalObject.stock" min="0" label="Cantidad Existencia" help="" type="number" error="Este campo es requerido/Solo acepta numeros." placeholder="" pattern="[0-9]+$" mask="" minlength="" v-bind:enter-submit="true" required icon></vueinput>
                                    </div>
                                    <div class="form-group">
                                        <vueinput v-bind:value.sync="modalObject.minimo" min="0" label="Cantidad Minima" help="" type="number" error="Este campo es requerido/Solo acepta numeros." placeholder="" pattern="[0-9]+$" mask="" minlength="" v-bind:enter-submit="true" required icon></vueinput>
                                    </div>
                                    <div class="form-group">
                                        <vueinput v-bind:value.sync="modalObject.maximo" min="0" label="Cantidad Maxima" help="" type="number" error="Este campo es requerido/Solo acepta numeros." placeholder="" pattern="^[0-9]+$" mask="" minlength="" v-bind:enter-submit="true" required icon></vueinput>
                                    </div>
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select v-model="modalObject.estado" required class="form-control">
                                            <option v-bind:value="estado" v-for="estado in estados">{{estado.descripcion}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pager Btns-->
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-default btn-pager" >
                                    Procesar <span class="glyphicon glyphicon-arrow-right"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <h4 v-else class="text-center">No se obtuvo la informacion de este producto</h4>
            </div>
            <div class="modal-footer">
                <button v-else type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Loading page container-->
<div class="row" v-show="validations.showSpinner">
    <div class="loading col-sm-12 ">
        <img src="~/Images/spinner.gif" width="100px" height="100px" />
        <p>{{validations.loadingMessage}}</p>
    </div>
</div>
<!-- Alert for critical error -->
<div class="row" v-if="alert.status">
    <div class="col-sm-offset-2 col-sm-8 alert alert-dismissible" role="alert" v-bind:class="{ 'alert-danger ' : lowerCase(alert.type) === 'danger' , 'alert-info ' : lowerCase(alert.type) === 'info','alert-success ' : lowerCase(alert.type) === 'success'}">
        <button type="button" class="close" v-on:click="alert.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong v-if="lowerCase(alert.type) === 'danger' ">Atencion!</strong>
        <strong v-else>Info!</strong>
        {{alert.message}}
    </div>
</div>
<!--VUESTRAP ALERT == TOASTR-->
<alert v-bind:show.sync="toastr.show" v-bind:placement="toastr.placement" v-bind:duration="toastr.duration" v-bind:type="toastr.type" v-bind:width="toastr.width" dismissable>
    <span v-if="lowerCase(toastr.type) === 'danger' " class="glyphicon glyphicon-warning-sign"></span>
    <span v-else class="glyphicon glyphicon-info-sign"></span>
    <strong v-if="lowerCase(toastr.type) === 'danger' ">Atencion!</strong>
    <strong v-else>Info!</strong>
    <p>{{toastr.message}}</p>
</alert>

<div id="wrapper" v-show="!validations.showSpinner && alert.status === false">
    <section class="section-body" style="background-color: #e3e6e8; margin: 10px 0px;padding: 10px 10px">
        <!--title bar-->
        <section style="background-color: white;padding: 10px 30px;margin:0px 0px 10px 0px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-bar title-bar-blur">
                        <span class="title-bar-title">Administracion</span>
                        <span class="title-bar-subtitle">Inventario</span>
                    </div>
                </div>
            </div>
        </section>
        <!--content-->
        <section style="background-color: white;padding: 10px 30px;margin:0px 0px 10px 0px">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <button type="button" class="btn btn-success pull-right" v-on:click="openEditModal(null,'agregar-modal')"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</button>
                </div>
            </div>
            <!--table search-->
            <div class="row" style="padding-top:20px;margin-bottom:15px">
                <div class=" col-sm-offset-1 col-sm-10 form-inline">
                    <div class="pull-left">
                        <span class="glyphicon glyphicon-search"> </span> <input v-model="searchItem" v-on:keyup="searchInTheList(searchItem)" class="form-control" type="text" placeholder="Buscar en la tabla ...">
                    </div>
                    <div class="form-group pull-right">
                        <label for="search">Items per page: </label>
                        <input type="number" min="1" max="15" class="form-control" size="10" v-model="pagination.itemPerPage" v-on:click="changePagination()" v-on:keyup="changePagination()">
                        <label>Page: {{pagination.currentPage}}</label>
                    </div>
                </div>
            </div>
            <!--table content-->
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 ">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <a v-on:click="setSort('libro.codigo',reverse === 1 ? reverse = -1 : reverse = 1)">
                                            Codigo Libro
                                            <span v-bind:class="[ reverse === 1 ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down']"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a v-on:click="setSort('libro.titulo',reverse === 1 ? reverse = -1 : reverse = 1)">
                                            Titulo Libro
                                            <span v-bind:class="[ reverse === 1 ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down']"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a v-on:click="setSort('stock',reverse === 1 ? reverse = -1 : reverse = 1)">
                                            Cantidad Existencia
                                            <span v-bind:class="[ reverse === 1 ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down']"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a v-on:click="setSort('minimo',reverse === 1 ? reverse = -1 : reverse = 1)">
                                            Cantidad Minima
                                            <span v-bind:class="[ reverse === 1 ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down']"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a v-on:click="setSort('maximo',reverse === 1 ? reverse = -1 : reverse = 1)">
                                            Cantidad Maxima
                                            <span v-bind:class="[ reverse === 1 ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down']"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a v-on:click="setSort('estado.descripcion',reverse === 1 ? reverse = -1 : reverse = 1)">
                                            Estado
                                            <span v-bind:class="[ reverse === 1 ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down']"></span>
                                        </a>
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="inventario in paginatedItems | filterBy customFilter | orderBy sortKey reverse">

                                    <td>{{inventario.libro.codigo}}</td>
                                    <td>{{inventario.libro.titulo}}</td>
                                    <td>{{inventario.stock}}</td>
                                    <td>{{inventario.maximo}}</td>
                                    <td>{{inventario.minimo}}</td>
                                    <td>{{inventario.estado.descripcion}}</td>
                                    <td>
                                        <button class="btn btn-small btn-success" v-on:click="openEditModal(inventario, 'edit-modal')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Detalles</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--pagination navbar-->
            <div class="row">
                <div class="col-sm-12 other-controller">
                    <div class="text-center">
                        <nav>
                            <ul class="nav nav-PaginationJustified">
                                <li class="first">
                                    <a class="button" v-on:click="selectPage(pagination.items[0])" v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.items[0] || this.pagination.items.length==0}">
                                        First
                                    </a>
                                </li>
                                <li v-if="pagination.filteredItems.length > 0 && pagination.currentPage > 1" v-on:click="selectPage(pagination.currentPage - 1)">
                                    <a>
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                </li>
                                <li v-for="item in pagination.filteredItems">
                                    <a class="button" v-on:click="selectPage(item)" v-bind:class="{'is-info': item == pagination.currentPage}">{{item}}</a>
                                </li>
                                <li v-if="pagination.currentPage < pagination.filteredItems.length " v-on:click="selectPage(pagination.currentPage + 1)">
                                    <a>
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </li>
                                <li class="last">
                                    <a class="button" v-on:click="selectPage(pagination.items[pagination.items.length-1])" v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.items[this.pagination.items.length-1] || this.pagination.items.length==0}">
                                        Last
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<!--custom directive-->
@*<back-to-top />*@