<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Libreria Mana</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<!-- NAVBAR
================================================== -->
<body onresize="updateArrows()">
    
    
     
    @*main conatiner*@
    <div id="pageMainContainer">
        <!--VUESTRAP ALERT == TOASTR-->

        <alert v-bind:show.sync="toastr.show" v-bind:placement="toastr.placement" v-bind:duration="toastr.duration" v-bind:type="toastr.type" v-bind:width="toastr.width" dismissable>
            <span v-if="lowerCase(toastr.type) === 'danger' " class="glyphicon glyphicon-warning-sign" ></span>
            <span v-else class="glyphicon glyphicon-info-sign"></span>
            <strong v-if="lowerCase(toastr.type) === 'danger' ">Atencion!</strong>
            <strong v-else>Info!</strong>
            <p>{{toastr.message}}</p>
        </alert>
        <!-- MODAL BOOK DETAILS -->
        <div id="modalDetails" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Detalle Producto</h4>
                    </div>
                    <div class="modal-body text-center" >
                        <div v-if="alertModalBookDetails.status" class="alert alert-dismissible" role="alert" v-bind:class="{ 'alert-danger ' : lowerCase(alertModalBookDetails.type) === 'danger' , 'alert-info ' : lowerCase(alertModalBookDetails.type) === 'info','alert-success ' : lowerCase(alertModalBookDetails.type) === 'success'}">
                            <button type="button" class="close" v-on:click="alertModalBookDetails.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong v-if="lowerCase(alertModalBookDetails.type) === 'danger' ">Atencion!</strong>
                            <strong v-else>Info!</strong>
                            {{alertModalBookDetails.message}}
                        </div>
                        <img class="img-circle popimage" src="~/Images/libros/{{modalObject.item.Image}}.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h2>{{modalObject.item.Titulo}}</h2>
                        <p>{{modalObject.item.Descripcion}}</p>
                        <p class="precio"><strong>Precio (I.V.I)</strong>: &#162;{{modalObject.item.Precio}}</p>
                        <div class="form-group text-center">
                            <label>Cantidad:</label>
                            <input class="form-control book-quantity" type="number" min="1" max="100" v-model="modalObject.quantity" number v-on:mouseup.keyup.change="updateModalDetailTotal()" />
                        </div>
                        <span class="badge badgequantity"><strong>Total (I.V.I)</strong>:&#162;{{modalObject.total}}</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary btn-addtocart" v-on:click="addToCart(modalObject)"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- MODAL Shooping Cart -->
        <div id="modalShoppingCart" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><a href="#" ><span class="glyphicon glyphicon-shopping-cart carticon" aria-hidden="true"></span></a> Carro de Compras</h4>
                    </div>
                    <div class="modal-body ">
                        <div v-if="shoppingCart.items.length > 0">
                            <!-- Alert-->
                            <div class="row">
                                <div v-if="alertModalShoppingCart.status" class="col-sm-12 alert alert-dismissible" role="alert" v-bind:class="{ 'alert-danger ' : lowerCase(alertModalShoppingCart.type) === 'danger' , 'alert-info ' : lowerCase(alertModalShoppingCart.type) === 'info','alert-success ' : lowerCase(alertModalShoppingCart.type) === 'success'}">
                                    <button type="button" class="close" v-on:click="alertModalShoppingCart.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong v-if="lowerCase(alertModalShoppingCart.type) === 'danger' ">Atencion!</strong>
                                    <strong v-else>Info!</strong>
                                    {{alertModalShoppingCart.message}}
                                </div>
                            </div>
                           <!-- Navbar-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="nav nav-pills nav-justified">
                                        <li role="presentation" v-bind:class="{ active: modalCart.currentPage === 1 }" v-on:click="modalCart.currentPage = 1">
                                            <a href="#">Info Productos</a>
                                        </li>
                                        <li role="presentation" v-bind:class="{ active: modalCart.currentPage === 2 }" v-on:click="modalCart.currentPage = 2">
                                            <a href="#">Info Personal</a>
                                        </li>
                                        <li role="presentation" v-bind:class="{ active: modalCart.currentPage === 3 }" v-on:click="modalCart.currentPage = 3">
                                            <a href="#">Info Bancaria</a>
                                        </li>
                                    </ul>
                                    <hr class="navbar-separator" />
                                </div>
                            </div>
                            <!-- Content-->
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <div v-if="modalCart.currentPage === 1">
                                        <h3>Resumen Productos</h3><hr />
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Codigo</th>
                                                    <th>Titulo</th>
                                                    <th>Precio</th>
                                                    <th>Cantidad</th>
                                                    <th>Total</th>
                                                    <th>Remover</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="object in shoppingCart.items" track-by="$index">
                                                    <td>{{object.item.Codigo}}</td>
                                                    <td>{{object.item.Titulo}}</td>
                                                    <td>&#162;{{object.item.Precio}}</td>
                                                    <td>{{object.quantity}}</td>
                                                    <td>&#162;{{object.total}}</td>
                                                    <td><button class="btn btn-danger" v-on:click="removeFromCart($index,object)">Remover</button></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Totales</td>
                                                    <td>{{shoppingCart.totalItems}}</td>
                                                    <td>&#162;{{shoppingCart.total}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success" v-bind:disabled="enableProccedBtn == true? true:false" v-on:click="">Comprar</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div v-if="modalCart.currentPage === 2">
                                        <h3>Datos Personales</h3><hr />
                                    </div>
                                    <div v-if="modalCart.currentPage === 3">
                                        <h3>Datos Bancarios</h3><hr />
                                    </div>
                                    <div v-if="modalCart.currentPage === 4">
                                        <h3>Resumen TRansaccion</h3><hr />
                                    </div>
                                </div>
                            </div>
                            <!-- Pager Btns-->
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <nav aria-label="...">
                                        <ul class="pager">
                                            <li v-if="modalCart.currentPage > 1 && modalCart.currentPage <=4" v-on:click="modalCart.currentPage -= 1">
                                                <a href="#"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>
                                            </li>
                                            <li v-if="modalCart.currentPage >= 1 && modalCart.currentPage <4" v-on:click="modalCart.currentPage += 1">
                                                <a href="#">Siguiente <span class="glyphicon glyphicon-arrow-right"></span></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div> 
                        <h4 v-else class="text-center">El carrito esta vacio</h4>       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
    
        <div id="" class="navbar-wrapper">
            <div class="container" >
                @RenderBody()
                <nav class="navbar navbar-inverse navbar-static-top navbar-main">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" style="color:white">Libreria Mana</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Principal</a></li>
                                <li><a href="#about">Acerca</a></li>
                                <li><a href="#contact">Contactenos</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Idiomas</a></li>
                                        <li><a href="#">Matematica</a></li>
                                        <li><a href="#">Novelas</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <form class="navbar-form navbar-left">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Buscar ...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" style="background-color:#f08804;color:#232f3e" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </form>
                                </li>
              
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                
                                <li>
                                    <a href="#">
                                        <strong>Articulos: </strong>
                                        <span class="badge badgequantity">{{shoppingCart.totalItems}}</span>
                                        <strong>Precio Total: </strong><strong class="navprice">&#162;{{shoppingCart.total}}</strong>

                                    </a>
                                </li>
                                <li>
                                    <a href="#" v-on:click="openModal(null,'modalShoppingCart')"><span class="glyphicon glyphicon-shopping-cart carticon" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                            
                           
                        </div>
                    </div>
                </nav>

            </div>
        </div>


        <!-- Carousel
        ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox" v-for:"category in categories">
                <div class="item">
                    <img class="first-slide" src="~/Images/libreriaBanner.jpg" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Bienvenido</h1>
                            <p>A nuestra nueva libreria en linea.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Crear cuenta</a></p>
                        </div>
                    </div>
                </div>
                <div class="item active">
                    <img class="second-slide" src="~/Images/libreriaBanner.jpg" alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="third-slide" src="~/Images/libreriaBanner.jpg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>One more for good measure.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><!-- /.carousel -->
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        
    <div class="container testimonial-group">
        <div v-el:categories class="">
            
            <div class="category" v-show="category.Libros.length > 0" v-for="(index,category) in categories">
                <button id="scrollleft{{index}}" class="pull-left scrollBtn" onclick="move_left({{index}})"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                <button id="scrollright{{index}}" class="pull-right scrollBtn" onclick="move_right({{index}})"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>

                <div class="category-header">
                    <h1>{{category.Descripcion}}</h1><hr />
                </div>
                <div class="row category-body" id="mainbookcontainer{{index}}">
                    <div class="col-xs-4 producto text-center" v-for="book in category.Libros">
                        <img class="img-circle " src="~/Images/libros/{{book.Image}}.jpg" alt="Generic placeholder image" width="140" height="140">
                        @*<h2>{{book.Titulo}}</h2>*@
                        <p class="precio">&#162;{{book.Precio}}</p>
                        <p><a class="btn btn-default btn-details"  v-on:click="openModal(book,'bookDetails')" role="button">Ver Detalles »</a></p>
                    </div>
                </div>
            </div>
        </div>
        <footer style="margin-top:30px;">
            <hr />
            <p>© 2017 SIGELIBMA. </p>
        </footer>
    </div>

    </div><!--Main container-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/VueJsFramework/vue1.js"></script>
    <script src="~/Scripts/vue-strap/vue-strap.js"></script>
    <script src="~/Scripts/VueJs/Clientes/principal.js"></script>

    
</body>
</html>