<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Libreria Mana</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<!-- NAVBAR
================================================== -->
<body onresize="updateArrows()">
    @RenderBody()
    
     
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/VueJsFramework/vue1.js"></script>
    <script src="~/Scripts/vue-strap/vue-strap.js"></script>
    <script src="~/Scripts/VueJs/Clientes/principal.js"></script>

    
</body>
</html>