<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Libreria Mana</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>

<body onresize="updateArrows()">
    @*main conatiner*@
    <div id="pageMainContainer">    
        <!--VUESTRAP ALERT == TOASTR-->
        <alert v-bind:show.sync="toastr.show" v-bind:placement="toastr.placement" v-bind:duration="toastr.duration" v-bind:type="toastr.type" v-bind:width="toastr.width" dismissable>
            <span v-if="lowerCase(toastr.type) === 'danger' " class="glyphicon glyphicon-warning-sign"></span>
            <span v-else class="glyphicon glyphicon-info-sign"></span>
            <strong v-if="lowerCase(toastr.type) === 'danger' ">Atencion!</strong>
            <strong v-else>Info!</strong>
            <p>{{toastr.message}}</p>
        </alert>
        <!-- MODAL contacto -->
        <div id="modal-contacto" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Informacion de Contacto
                        </h4>
                    </div>
                    <div class="modal-body ">
                        Telefono:
                        <ul>
                            <li>+506 2433 8569</li>                           
                        </ul>
                        Correo:
                        <ul>
                            <li>info@manaalajuela.com</li>
                        </ul>
                        Visitenos:
                        <ul>
                            <li>25 sur del Complejo Deportivo Wilmer López, Plywood Alajuela, Costa Rica
                            Alajuela</li>
                        </ul>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- MODAL Acerca de -->
        <div id="modal-about" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Acerca de esta aplicacion - SIGELIBMA V1.0
                        </h4>
                    </div>
                    <div class="modal-body ">
                        Esta aplicacion ha sido desarrollada por:
                        <ul>
                            <li>Aguilar Espinoza, Steven</li>    
                            <li>Viquez Arana, Johnathan</li>
                        </ul>
                        <p>Estudiantes de ultimo nivel de la carrera de Ingenieria del Software de la UTN.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- MODAL BOOK DETAILS -->
        <div id="modalDetails" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Detalle Producto</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div v-if="alertModalBookDetails.status" class="alert alert-dismissible" role="alert" v-bind:class="{ 'alert-danger ' : lowerCase(alertModalBookDetails.type) === 'danger' , 'alert-info ' : lowerCase(alertModalBookDetails.type) === 'info','alert-success ' : lowerCase(alertModalBookDetails.type) === 'success'}">
                            <button type="button" class="close" v-on:click="alertModalBookDetails.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong v-if="lowerCase(alertModalBookDetails.type) === 'danger' ">Atencion!</strong>
                            <strong v-else>Info!</strong>
                            {{alertModalBookDetails.message}}
                        </div>
                        <img class="img-circle popimage" src="~/Images/libros/{{modalObject.item.Image}}.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h2>{{modalObject.item.Titulo}}</h2>
                        <p>{{modalObject.item.Descripcion}}</p>
                        <p class="precio"><strong>Precio (I.V.I)</strong>: &#162;{{modalObject.item.Precio}}</p>
                        <div class="form-group text-center">
                            <label>Cantidad:</label>
                            <select v-if="modalObject.item.Stock > 0" required v-model="modalObject.quantity" number v-on:mouseup.keyup.change="verifyStock()">
                                <option v-bind:value="item" v-for="item in quantity">{{item}}</option>
                            </select>
                            @*<input v-if="modalObject.item.Stock === true" class="form-control book-quantity" type="number" min="1" max="100" v-model="modalObject.quantity" number v-on:mouseup.keyup.change="updateModalDetailTotal()" />*@
                            <p v-else class="" style="color:red"><span class="glyphicon glyphicon-exclamation-sign"></span><strong>Agotado</strong></p>
                            <p v-if="modalObject.item.Stock > 0" class="text-success font-weight-bold">Disponible: {{modalObject.item.Stock}}</p>
                        </div>
                        <span class="badge badgequantity"><strong>Total (I.V.I)</strong>:&#162;{{modalObject.total}}</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button v-if="modalObject.item.Stock > 0 && disableBuyButton === false" type="button" class="btn btn-primary btn-addtocart" v-on:click="addToCart(modalObject)"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- MODAL Shooping Cart -->
        <div id="modalShoppingCart" data-backdrop="false" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        
                        <h4 class="modal-title"><a href="#"><span class="glyphicon glyphicon-shopping-cart carticon" aria-hidden="true"></span></a> Carro de Compras</h4>
                    </div>
                    <div class="modal-body ">
                        <div v-if="shoppingCart.items.length > 0">
                            <!-- Alert-->
                            <div class="row text-center">
                                <div v-if="alertModalShoppingCart.status" class=" alert alert-dismissible" role="alert" v-bind:class="{ 'alert-danger ' : lowerCase(alertModalShoppingCart.type) === 'danger' , 'alert-info ' : lowerCase(alertModalShoppingCart.type) === 'info','alert-success ' : lowerCase(alertModalShoppingCart.type) === 'success'}">
                                    <button type="button" class="close" v-on:click="alertModalShoppingCart.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong v-if="lowerCase(alertModalShoppingCart.type) === 'danger' ">Atencion!</strong>
                                    <strong v-else>Info!</strong>
                                    {{alertModalShoppingCart.message}}
                                </div>
                            </div>
                            <form id="formCartPayment" v-on:submit.prevent="validatePayment()">
                                <!-- Navbar-->
                                <div class="row">
                                    <div v-show="showModalShoppingCartNavBar" class="col-sm-12">
                                        <ul class="nav nav-pills nav-justified">
                                            <li role="presentation" v-bind:class="{ active: modalCart.currentPage === 1 }" v-on:click="modalCart.currentPage = 1">
                                                <a href="#">Info Productos</a>
                                            </li>
                                            <li role="presentation" v-bind:class="{ active: modalCart.currentPage === 2 }" v-on:click="modalCart.currentPage = 2">
                                                <a href="#">Info Personal</a>
                                            </li>
                                            <li role="presentation" v-bind:class="{ active: modalCart.currentPage === 3 }" v-on:click="modalCart.currentPage = 3">
                                                <a href="#">Info Bancaria</a>
                                            </li>
                                        </ul>
                                        <hr class="navbar-separator" />
                                    </div>
                                </div>
                                <!-- Content-->
                                <div class="row">
                                    <div class="col-sm-12 table-responsive">
                                        <spinner v-ref:spinner size="md" fixed text="Procesando datos, por favor espere!"></spinner>
                                        <!--page 1-->
                                        <div v-if="modalCart.currentPage === 1">
                                            <h3>Resumen Productos</h3><hr />
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Codigo</th>
                                                        <th>Titulo</th>
                                                        <th>Precio</th>
                                                        <th>Cantidad</th>
                                                        <th>Total</th>
                                                        <th>Remover</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="object in shoppingCart.items" track-by="$index">
                                                        <td>{{object.item.Codigo}}</td>
                                                        <td>{{object.item.Titulo}}</td>
                                                        <td>&#162;{{object.item.Precio}}</td>
                                                        <td>
                                                            <select required v-model="object.quantity" number v-on:mouseup.keyup.change="updateDetail($index)">
                                                                <option v-bind:value="item" v-for="item in quantity">{{item}}</option>
                                                            </select>
                                                            @*<input class="form-control" min="1" max="20" type="number" name="name" v-model="object.quantity" v-on:keyup="updateDetail($index)" v-on:change="updateDetail($index)" v-on:blur="updateDetail($index)" />*@
                                                        </td>
                                                        <td>&#162;{{object.total}}</td>
                                                        <td><button class="btn btn-danger" type="button" v-on:click="removeFromCart($index,object)">Remover</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td>Totales</td>
                                                        <td>{{shoppingCart.totalItems}}</td>
                                                        <td>&#162;{{shoppingCart.total}}</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--page 2-->
                                        <div v-if="modalCart.currentPage === 2">
                                            <h3>Datos Personales</h3><hr />
                                            <div class="form-group validate has-feedback " v-bind:class="{ 'has-error': cedulaStatus === false && validateCedula, 'has-success': cedulaStatus === true && validateCedula}">
                                                <label class="control-label">Cedula</label>
                                                <div class="input-group ">
                                                    <input v-model="cliente.Cedula" class="form-control" type="text" title="Este campo es requerido. (min. length: 9)" require placeholder="Cedula" v-on:onblur="validateCedulaCliente" v-on:keyup="validateCedulaCliente">
                                                    @*<span aria-hidden="true" style="right:70px" class="form-control-feedback glyphicon glyphicon-remove"></span>*@
                                                    <span class="input-group-btn">
                                                        <button v-on:click="getClient()" class="btn btn-success" type="button">Buscar!</button>
                                                    </span>
                                                </div>
                                                <div class="has-error" v-if="cedulaStatus === false && validateCedula">Este campo es requerido. (required)</div>
                                            </div>
                               
                                            <div class="form-group">
                                                <vueinput v-bind:value.sync="cliente.Nombre1" label="Nombre" help="" error="Este campo es requerido/Solo acepta letras." placeholder="Nombre" pattern="^[a-zA-Z\s]+$" mask="" minlength="" v-bind:enter-submit="true" v-bind:clear-button="true" required icon></vueinput>
                                            </div>
                                            <div class="form-gr<up">
                                                <vueinput v-bind:value.sync="cliente.Apellido1" label="Apellido" help="" error="Este campo es requerido/Solo acepta letras." placeholder="Apellido" pattern="^[a-zA-Z\s]+$" mask="" minlength="" v-bind:enter-submit="true" v-bind:clear-button="true" required icon></vueinput>
                                            </div>
                                            <div class="form-group">
                                                <vueinput v-bind:value.sync="cliente.Telefono" label="Telefono" help="" error="Este campo es requerido/Solo acepta numeros." placeholder="Telefono" pattern="^[0-9]+$" mask="" minlength="8" v-bind:enter-submit="true" v-bind:clear-button="true" required icon></vueinput>
                                            </div>
                                            <div class="form-group">
                                                <vueinput v-bind:value.sync="cliente.Email" label="Email" help="" type="email" error="Este campo es requerido." placeholder="Email" pattern="[a-zA-Z0-9._%+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" mask="" minlength="" v-bind:enter-submit="true" v-bind:clear-button="true" required icon></vueinput>
                                            </div>
                                        </div>
                                        <!--page 3-->
                                        <div v-if="modalCart.currentPage === 3">
                                            <h3>Datos Bancarios</h3><hr />

                                            <div class="bg-info bg-accts" style="margin-bottom:15px;">
                                                <h4><b>Cuentas Bancarias:</b> </h4>
                                                <ul>
                                                    <li><strong>Iglesia Mana S.A</strong></li>
                                                    <li><strong>Cedula Juridica:</strong> 3-00456-90</li>
                                                    <li><strong>Banco Nacional (Colones):</strong> 12332445-0 / 2417932898749090</li>
                                                    <li><strong>BCR (Colones):</strong> 001-293435-0 / 365456789778900121</li>
                                                </ul>
                                            </div>
                                            
                                            <div v-bind:class="[{ 'has-error': shoppingCartValidations.date && deposito.Fecha === '' },{'has-success' : shoppingCartValidations.date && deposito.Fecha !== ''},'form-group has-feedback']">
                                                <label class="control-label">Fecha Deposito: </label>
                                                <datepicker v-on:blur="shoppingCartValidations.date = true" v-bind:value.sync="deposito.Fecha" v-bind:format="datepickerOptions.format" v-bind:clear-button="datepickerOptions.close" v-bind:placeholder="datepickerOptions.placeholder" required>
                                                </datepicker>
                                                <span v-if="shoppingCartValidations.date && deposito.Fecha === ''  " class="glyphicon glyphicon-remove form-control-feedback selectspan" aria-hidden="true"></span>
                                                <span v-if="shoppingCartValidations.date && deposito.Fecha !== ''  " class="glyphicon glyphicon-ok form-control-feedback selectspan" aria-hidden="true"></span>
                                            </div>
                                            <div class="form-group">
                                                <vueinput v-bind:value.sync="deposito.Referencia" label="No Referencia:" help="" type="text" error="Este campo es requerido." placeholder="Referencia" pattern="^[a-zA-Z0-9]+$" mask="" minlength="" v-bind:enter-submit="true" v-bind:clear-button="true" required icon></vueinput>
                                            </div>
                                            <div v-bind:class="[{ 'has-error':deposito.BancoEmisor === '0' && shoppingCartValidations.bancoEmisor},{'has-success' : deposito.BancoEmisor !== '0' && shoppingCartValidations.bancoEmisor},'form-group has-feedback']">
                                                <label class="control-label">Banco Origen: </label>
                                                <select required class="form-control" v-model="deposito.BancoEmisor" v-on:change="shoppingCartValidations.bancoEmisor = true">
                                                    <option value="" selected disabled>-- Seleccione un Banco --</option>
                                                    <option value="BCR">BCR</option>
                                                    <option value="BNCR">BNCR</option>
                                                    <option value="BAC">BAC</option>
                                                    <option value="Scottia Bank">Scottia Bank</option>
                                                    <option value="LAFISE">LAFISE</option>
                                                </select>
                                                <span v-if="deposito.BancoEmisor === '0' && shoppingCartValidations.bancoEmisor" class="glyphicon glyphicon-remove form-control-feedback selectspan" aria-hidden="true"></span>
                                                <span v-if="deposito.BancoEmisor !== '0' && shoppingCartValidations.bancoEmisor" class="glyphicon glyphicon-ok form-control-feedback selectspan" aria-hidden="true"></span>
                                            </div>
                                            <div v-bind:class="[{ 'has-error':deposito.BancoReceptor === '0' && shoppingCartValidations.bancoReceptor},{'has-success' : deposito.BancoReceptor !== '0' && shoppingCartValidations.bancoReceptor},'form-group has-feedback']">
                                                <label class="control-label">Banco Destino: </label>
                                                <select required class="form-control" v-model="deposito.BancoReceptor" v-on:change="shoppingCartValidations.bancoReceptor = true">
                                                    <option value="" selected disabled>-- Seleccione un Banco --</option>
                                                    <option value="BCR">BCR</option>
                                                    <option value="BNCR">BNCR</option>
                                                </select>
                                                <span v-if="deposito.BancoReceptor === '0' && shoppingCartValidations.bancoReceptor" class="glyphicon glyphicon-remove form-control-feedback selectspan" aria-hidden="true"></span>
                                                <span v-if="deposito.BancoReceptor !== '0' && shoppingCartValidations.bancoReceptor" class="glyphicon glyphicon-ok form-control-feedback selectspan" aria-hidden="true"></span>
                                            </div>

                                        </div>
                                        <!--page 4-->
                                        <div v-if="modalCart.currentPage === 4">
                                            <h3>Resumen Transaccion</h3><hr />
                                            <div class="bg-success" v-if="shoppingCart.payment.status">
                                                <h5><b>Su compra ha sido procesada!</b></h5>
                                                <p>Usted recibira un correo con el detalle de su compra. </p>
                                                <p>Confirmacion # <strong>{{shoppingCart.payment.code}}</strong></p>
                                            </div>
                                            <div v-else class="bg-danger">
                                                <h5><b>Ha sucedido un problema!</b></h5>
                                                <p>
                                                    Por favor intente de nuevo, si el problema persiste envie un correo a
                                                    <strong><a href="mailto:{{emailSupport}}" target="_top">Soporte Iglesia Mana</a></strong>.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pager Btns-->
                                <div class="row">
                                    <div class="col-sm-12 text-center">   
                                        <button class="btn btn-default btn-pager" v-if="modalCart.currentPage > 1 && modalCart.currentPage <4" v-on:click="modalCart.currentPage -= 1">
                                            <span class="glyphicon glyphicon-arrow-left"></span> Regresar
                                        </button>
                                        <button class="btn btn-default btn-pager" v-if="modalCart.currentPage >= 1 && modalCart.currentPage <3" v-on:click="modalCart.currentPage += 1 ">
                                            Siguiente <span class="glyphicon glyphicon-arrow-right"></span>
                                        </button>
                                        <button type="submit" class="btn btn-default btn-pager" v-if="modalCart.currentPage === 3">
                                            Procesar <span class="glyphicon glyphicon-arrow-right"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <h4 v-else class="text-center">El carrito esta vacio</h4>
                    </div>
                    <div class="modal-footer">
                        <button v-if="shoppingCart.payment.status" type="button" v-on:click="cleanCart()" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                        <button v-else type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!--NAVBAR-->
        <div id="" class="navbar-wrapper">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-static-top navbar-main">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <img class="navbar-brand" src="~/Images/imanaicon.png">
                            <a class="navbar-brand" style="color:white">Libreria Mana</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                @*<li class="active"><a href="#">Principal</a></li>*@
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li v-on:click="filteredCategories = categories"><a href="#">Todas</a></li>
                                        <li  v-for="item in categories" v-on:click="filterCategory(item)"><a href="#">{{item.Descripcion}}</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" v-on:click="openModal(null,'modal-contacto')">Contactenos</a></li>
                                <li><a href="#" v-on:click="openModal(null,'modal-about')">Acerca</a></li>
                                <li>
                                    <form class="navbar-form navbar-left">
                                        <div class="input-group search">
                                            <typeahead class="search-input" v-bind:value.sync="searchSelected" v-bind:data="searchByData" placeholder="Buscar..."></typeahead>
                                            <span class="input-group-btn">
                                                <button v-on:click="search()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </form>
                                </li>

                            </ul>

                            <ul class="nav navbar-nav navbar-right">

                                <li>
                                    <a href="#">

                                        <span class="badge badgequantity">
                                            <strong>Articulos: </strong>{{shoppingCart.totalItems}}
                                            <strong>Precio Total: </strong><strong class="">&#162;{{shoppingCart.total}}</strong>
                                        </span>


                                    </a>
                                </li>
                                <li>
                                    <a href="#" v-on:click="openModal(null,'modalShoppingCart')"><span class="glyphicon glyphicon-shopping-cart carticon" aria-hidden="true"></span></a>
                                </li>
                            </ul>


                        </div>
                    </div>
                </nav>

            </div>
        </div>



        @RenderBody()

        @*<backtotop></backtotop>*@
    </div><!--Main container-->



        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/VueJsFramework/vue1.js"></script>
        <script src="~/Scripts/vue-strap/vue-strap.js"></script>
        <script src="~/Scripts/VueJs/Clientes/principal.js"></script>


</body>
</html>