
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrativo.cshtml";
}

<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form v-on:submit.prevent="updateRol(modalObject,event)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar Rol</h4>
                </div>
                <div class="modal-body">
                        <div v-if="alertModal.status" class="alert alert-dismissible" role="alert" v-bind:class="{ 'alert-danger ' : lowerCase(alertModal.type) === 'danger' , 'alert-info ' : lowerCase(alertModal.type) === 'info','alert-success ' : lowerCase(alertModal.type) === 'success'}">
                            <button type="button" class="close" v-on:click="alertModal.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong v-if="lowerCase(alertModal.type) === 'danger' ">Atencion!</strong>
                            <strong v-else>Info!</strong>
                            {{alertModal.message}}
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Codigo:</label>
                            <input type="text" class="form-control" id="" v-model="modalObject.Codigo" required disabled>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Descripcion:</label>
                            <input class="form-control" id="" required v-model="modalObject.Descripcion">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Estado:</label>
                            <select v-model="modalObject.Estado"  class="control-label" >
                                <option disabled value="">-- Seleccione una opcion --</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select> 
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--Loading info container-->
<div class="row" v-show="validations.showSpinner">
    <div class="loading col-sm-12 ">
        <img src="~/Images/spinner.gif" width="100px" height="100px"/>
        <p>{{validations.loadingMessage}}</p>
    </div>
</div>

<div v-if="alert.status" class="alert alert-dismissible" role="alert" v-bind:class="{ 'alert-danger ' : lowerCase(alert.type) === 'danger' , 'alert-info ' : lowerCase(alert.type) === 'info','alert-success ' : lowerCase(alert.type) === 'success'}">
    <button type="button" class="close" v-on:click="alert.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong v-if="lowerCase(alert.type) === 'danger' ">Atencion!</strong>
    <strong v-else>Info!</strong>
    {{alert.message}}
</div>


<div id="wrapper" v-show="!validations.showSpinner">
    <section class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs ">
                <li role="presentation" class="active"><a href="#/home">Home</a></li>
                <li role="presentation"> <a href="#/configuration">Configuration</a></li>
                <li role="presentation"><a href="#/devices">Devices</a></li>
                <li role="presentation"><a href="#/bna">BNA Criteria</a></li>
                <li role="presentation"><a href="#/users">Users</a></li>
                <li role="presentation"><a href="#/fabs">Fabs</a></li>
            </ul>
        </div>
    </section>
    <section class="section-body" style="background-color: #e3e6e8; margin: 10px 0px;padding: 10px 10px">

        <section style="background-color: white;padding: 10px 30px;margin:0px 0px 10px 0px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-bar border-green title-bar-blur">
                        <span class="title-bar-title">Administracion</span>
                        <span class="title-bar-subtitle">Roles</span>
                    </div>
                </div>
            </div>
        </section>
        <section style="background-color: white;padding: 10px 30px;margin:0px 0px 10px 0px">
            <div class="row" style="padding-top:20px;">
                <div class="col-sm-offset-1 col-sm-10 form-inline" style="margin-bottom:25px">
                    <form name="" class="" v-on:submit.prevent="addRol(rol)">
                        <div class="form-group has-feedback" v-bind:class="{'has-success ': rol.Descripcion.$valid ,'has-error ': !rol.Descripcion.$valid && validations.activateFieldValidations} ">
                            <label for="rol">Rol</label>
                            <input name="rol" required type="text" v-on:blur="validations.activateFieldValidations = true" class="form-control" v-bind:class="{'has-error':rol.Descripcion.$invalid && rol.Descripcion.$dirty}"
                                   placeholder="Descripcion" v-model="rol.Descripcion">
                            <span class="glyphicon  form-control-feedback" v-bind:class="{'glyphicon-ok' : rol.Descripcion.$valid && rol.Descripcion.$dirty , 'glyphicon-remove' : !rol.Descripcion.$valid && validations.activateFieldValidations}"
                                  aria-hidden="true"></span>
                            <span class="sr-only">(success)</span>
                        </div>
                        <div class="form-group">
                            <label for="rol">Estado</label>
                            <select v-model="rol.Estado" class="form-control">
                                <option disabled value="">-- Seleccione una opcion --</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 form-inline">
                    <div class="form-group">
                        <label for="search"><i class="glyphicon glyphicon-search"></i></label>
                        <input ng-model="q" id="search" class="form-control" placeholder="Search Table">

                    </div>
                    <div class="form-group pull-right">
                        <label for="search">Items per page:</label>
                        <input type="number" min="1" max="500" class="form-control" ng-model="vm.pageSize">
                        <label>Page @*{{currentPage}}*@</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 ">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <!--<th class="text-center" style="color:#337ab7">Action</th>-->
                                    
                                    <th>
                                        <a ng-click="vm.sortType = 'environment.name'; vm.sortReverse = !vm.sortReverse">
                                            Codigo
                                            <span ng-show="vm.sortType == 'environment.name' && !vm.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="vm.sortType == 'environment.name' && vm.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                        <input type="text" class="form-control" ng-model="vm.tableFilter.env">
                                    </th>
                                    <th>
                                        <a ng-click="vm.sortType = 'name'; vm.sortReverse = !vm.sortReverse">
                                            Descripcion
                                            <span ng-show="vm.sortType == 'name' && !vm.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="vm.sortType == 'name' && vm.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                        <input type="text" class="form-control" ng-model="vm.tableFilter.device">
                                    </th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="rol in roles">
                                    
                                    <td>{{rol.Codigo}}</td>
                                    <td>{{rol.Descripcion}}</td>
                                    <td>{{rol.Estado === 1 ? 'Activo' : 'Inactivo'}}</td>
                                    <td>
                                        <button class="btn btn-small btn-success" v-on:click="openEditModal(rol)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</button>
                                        <button class="btn btn-small btn-danger" v-on:click="deleteRol(rol)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Borrar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 other-controller">
                    <div class="text-center">
                        @*<dir-pagination-controls boundary-links="true"></dir-pagination-controls>*@
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<!--custom directive-->
@*<back-to-top />*@