
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrativo.cshtml";
}

<!-- EDIT MODAL --->
<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form v-on:submit.prevent="modificar()">
                <div class="modal-header modal-mant">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar Tipo Movimiento</h4>
                </div>
                <div class="modal-body">
                    <div v-if="alertModal.status" class="alert alert-dismissible" role="alert" v-bind:class="{ 'alert-danger ' : lowerCase(alertModal.type) === 'danger' , 'alert-info ' : lowerCase(alertModal.type) === 'info','alert-success ' : lowerCase(alertModal.type) === 'success'}">
                        <button type="button" class="close" v-on:click="alertModal.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong v-if="lowerCase(alertModal.type) === 'danger' ">Atención!</strong>
                        <strong v-else>Info!</strong>
                        {{alertModal.message}}
                    </div>
                    <div class="form-group ">
                        <vueinput v-bind:value.sync="modalObject.descripcion" label="Descripcion" help="" error="" placeholder="Descripcion" pattern="^[a-zA-Z0-9\s]+$" mask="" minlength="4" v-bind:enter-submit="true" v-bind:clear-button="false" required icon></vueinput>
                    </div>
                    <div class="form-group">
                        <label for="rol">Estado</label>
                        <select v-model="modalObject.estado" required class="form-control">
                            <option v-bind:value="estado.codigo" v-bind:selected="" v-for="estado in estados">{{estado.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-save ">Salvar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Loading page container-->
<div class="row" v-show="validations.showSpinner">
    <div class="loading col-sm-12 ">
        <img src="~/Images/spinner.gif" width="100px" height="100px" />
        <p>{{validations.loadingMessage}}</p>
    </div>
</div>
<!-- Alert for critical error -->
<div class="row" v-if="alert.status">
    <div class="col-sm-offset-2 col-sm-8 alert alert-dismissible" role="alert" v-bind:class="{ 'alert-danger ' : lowerCase(alert.type) === 'danger' , 'alert-info ' : lowerCase(alert.type) === 'info','alert-success ' : lowerCase(alert.type) === 'success'}">
        <button type="button" class="close" v-on:click="alert.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong v-if="lowerCase(alert.type) === 'danger' ">Atención!</strong>
        <strong v-else>Info!</strong>
        {{alert.message}}
    </div>
</div>
<!--VUESTRAP ALERT == TOASTR-->
<alert v-bind:show.sync="toastr.show" v-bind:placement="toastr.placement" v-bind:duration="toastr.duration" v-bind:type="toastr.type" v-bind:width="toastr.width" dismissable>
    <span v-if="lowerCase(toastr.type) === 'danger' " class="glyphicon glyphicon-warning-sign"></span>
    <span v-else class="glyphicon glyphicon-info-sign"></span>
    <strong v-if="lowerCase(toastr.type) === 'danger' ">Atención!</strong>
    <strong v-else>Info!</strong>
    <p>{{toastr.message}}</p>
</alert>

<div id="wrapper" v-show="!validations.showSpinner && alert.status === false">

    <section class="section-body" style="background-color: #e3e6e8; margin: 10px 0px;padding: 10px 10px">
        <!--title bar-->
        <section style="background-color: white;padding: 10px 30px;margin:0px 0px 10px 0px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-bar title-bar-blur">
                        <span class="title-bar-title">Administracion</span>
                        <span class="title-bar-subtitle">Cajas</span>
                    </div>
                </div>
            </div>
        </section>
        <!--content-->
        <section style="background-color: white;padding: 10px 30px;margin:0px 0px 10px 0px">
            <!--add itme-->
            <div class="row" style="padding-top:20px;margin-bottom:15px">
                <div class="col-sm-offset-1 col-sm-10 " style=" ">
                    <form name="" class="form-inline" v-on:submit.prevent="agregar()">
                        <div class="form-group ">
                            <vueinput v-bind:value.sync="tipo.descripcion" label="Descripcion" help="" error="" placeholder="Descripcion" pattern="^[a-zA-Z0-9\s]+$" mask="" minlength="4" v-bind:enter-submit="true" v-bind:clear-button="false" required icon></vueinput>
                        </div>
                        <div class="form-group">
                            <label for="rol">Estado</label>
                            <select v-model="tipo.estado" required class="form-control">
                                <option selected dsiabled>-- Seleccione una opcion --</option>
                                <option v-bind:value="estado.codigo" v-bind:selected="estado.codigo === 1" v-for="estado in estados">{{estado.descripcion}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
            <!--table search-->
            <div class="row" style="padding-top:20px;margin-bottom:15px">
                <div class=" col-sm-offset-1 col-sm-10 form-inline">
                    <div class="pull-left">
                        <span class="glyphicon glyphicon-search"> </span> <input v-model="searchItem" v-on:keyup="searchInTheList(searchItem)" class="form-control" type="text" placeholder="Buscar en la tabla ...">
                    </div>
                    <div class="form-group pull-right">
                        <label for="search">Lineas por pagina: </label>
                        <input type="number" min="1" max="15" class="form-control" size="10" v-model="pagination.itemPerPage" v-on:click="changePagination()" v-on:keyup="changePagination()">
                        <label>Pagina: {{pagination.currentPage}}</label>
                    </div>
                </div>
            </div>
            <!--table content-->
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 ">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <a v-on:click="setSort('codigo',reverse === 1 ? reverse = -1 : reverse = 1)">
                                            Codigo
                                            <span v-bind:class="[ reverse === 1 ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down']"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a v-on:click="setSort('descripcion',reverse === 1 ? reverse = -1 : reverse = 1)">
                                            Descripcion
                                            <span v-bind:class="[ reverse === 1 ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down']"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a v-on:click="setSort('estado',reverse === 1 ? reverse = -1 : reverse = 1)">
                                            Estado
                                            <span v-bind:class="[ reverse === 1 ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down']"></span>
                                        </a>
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="estadocaja in paginatedItems | filterBy customFilter | orderBy sortKey reverse">

                                    <td>{{estadocaja.codigo}}</td>
                                    <td>{{estadocaja.descripcion}}</td>
                                    <td>{{estadocaja.estado === 1 ? 'Abierta' : 'Cerrada'}}</td>
                                    <td>
                                        <button class="btn btn-small btn-success" v-on:click="openEditModal(estadocaja)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</button>
                                        <button class="btn btn-small btn-danger" v-on:click="eliminar(estadocaja)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Borrar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--pagination navbar-->
            <div class="row">
                <div class="col-sm-12 other-controller">
                    <div class="text-center">
                        <nav v-if="pagination.items.length > 1">
                            <ul class="nav nav-PaginationJustified">
                                <li class="first">
                                    <a class="button" v-on:click="selectPage(pagination.items[0])" v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.items[0] || this.pagination.items.length==0}">
                                        First
                                    </a>
                                </li>
                                <li v-if="pagination.filteredItems.length > 0 && pagination.currentPage > 1" v-on:click="selectPage(pagination.currentPage - 1)">
                                    <a>
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                </li>
                                <li v-for="item in pagination.filteredItems">
                                    <a class="button" v-on:click="selectPage(item)" v-bind:class="{'is-info': item == pagination.currentPage}">{{item}}</a>
                                </li>
                                <li v-if="pagination.currentPage < pagination.filteredItems.length " v-on:click="selectPage(pagination.currentPage + 1)">
                                    <a>
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </li>
                                <li class="last">
                                    <a class="button" v-on:click="selectPage(pagination.items[pagination.items.length-1])" v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.items[this.pagination.items.length-1] || this.pagination.items.length==0}">
                                        Ultimo
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<!--custom directive-->
@*<back-to-top />*@