

.bg-danger, .bg-info,.bg-success,.bg-warning {
    padding:15px;
}


/* MODAL PRODUCT DETAILS */

 .modal-header {
    background-color:#232f3e;
    color:#f08804;
    border-bottom:2px solid #f08804;
    
}

.modal-body .alert {
    margin: 5px 15px;
}

 .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a {
    color:#337ab7;
    background-color:transparent;
    border-bottom: 2px solid #f4d078 ;
}

 hr.navbar-separator {
   border-top:  1px solid #232f3e;
}

.modal-header h4 {
   
    color:#f08804;
}

.modal-body img {
    border: 5px ridge #f08804;
    border-radius: 10px;
}

.btn-proceed{
    background-color:#f08804;
    color:#232f3e;
}

.modal-footer {
    border-top: 1px solid #f08804;
}

 .btn-proceed{
    background-color:#f08804;
    color:#232f3e;
}


.book-quantity {
    display:inline-block;
    max-width:60px;
    border:none;
}

