body {
    background-color:#f6f8f8;
    
}

#section-body {
    background-color:#e3e6e8;
}

#wrapper {
    padding: 0px 100px;
}




/*-------------------------
* MODAL
*--------------------------
*/

div.modal-header{
  background-color: #005C5C;
    border-color:#003333;
  color: white;
}

div.modal-header h4, div.modal-header h3,div.modal-header h2{
  color: white;
}

div.modal {
  background-color: #005C5C;
 
}

div.modal h4, div.modal h3,div.modal h2{
  
}


/*----------------------------
* Loading window
*-----------------------------
*/

.loading{
    top: 50px;;
    text-align: center;
}

div.loading img{
    opacity: 0.5;
}