
@{
    Layout = null;
   
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Admin/Login/Login.css" rel="stylesheet" />
    <title>Login</title>

</head>
<body>
    <nav class="navbar-main navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img class="navbar-brand" src="bower_components/it-mlaf-sass/images/intel-logo-white-100.png" alt="">
                <a class="navbar-brand">SIGELIBMA</a>
            </div>
           
        </div>
    </nav>
    <div id="LoginContainer" class="logincontainer container-fluid">

        <form name="loginform" class="ng-pristine ng-valid" onsubmit="setlogin">
            <fieldset>
                
                <h2 class="form-signin-heading">Welcome</h2>
                <hr />

                <div v-if="alert.status" class="alert alert-dismissible" role="alert" v-bind:class="{ 'alert-danger ' : lowerCase(alert.type) === 'danger' , 'alert-info ' : lowerCase(alert.type) === 'info','alert-success ' : lowerCase(alert.type) === 'success'}">
                    <button type="button" class="close" v-on:click="alert.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong v-if="lowerCase(alert.type) ==='danger'">Warning!</strong>
                    <strong v-else>Info!</strong>
                    {{alert.message}}
                </div>

                <div class="form-group">
                    <input class="form-control" placeholder="Account" v-model="login.account" required >
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password"
                           class="form-control" id="txtPass" v-model="login.passwd" required>
                </div>
                <button  type="submit" v-on:click="setlogin" class="btn btn-lg btn-block btn-login">Login</button>
            </fieldset>
        </form>
    </div>

    <script src="~/Scripts/vue-strap/vue-strap.js"></script>
    <script src="~/Scripts/VueJsFramework/vue1.js"></script>
    <script src="~/Scripts/VueJs/Admin/login.js"></script>
</body>
</html>
