html{
    height: 100%;
}

body {
    background-color: #e3e6e8;
}

.btn-pager {
    color:#337ab7;
    border-radius:15pt;
}

.btn-pager:focus {
    outline:none;
}

.testimonial-group .row {
  overflow-x: hidden;
  white-space:nowrap;
  margin:70px;
  
}
.testimonial-group  .row  .col-xs-4 {
  display: inline-block;
  float: none;
  white-space:normal;
}

.scrollBtn {
position:relative;
top:270px;
z-index:1;
background-color:transparent;
border:none;
color:#232f3e;
font-size: 50px;
}

.scrollBtn:focus { outline: none; }

div.producto{ 
    margin-right: 50px;
    background-color:#fafafa;
    border: 3px ridge #f08804;
    border-radius: 10px;
    width:180px;
    padding:40px 0px;
}

.category-header h1{
    color:#232f3e;
}
.category-header hr{

    border-top: 4px solid #48a3c6;
}

div.producto img{
    border: 5px ridge #232f3e;
    border-radius: 10px;

}

.precio {
    color:#f08804;
}

.btn-details {
    background-color:#f08804;
    color:#232f3e;

}




/*override color in tool nav bar*/
nav.navbar-main{
    background-color:#232f3e;
    border-radius: 0;
}

nav.navbar-main .navbar-brand{
    color: white;
}

nav.navbar-main .navbar-brand:hover{
    color: white;
}

nav.navbar-main .navbar-text{
    color: white;
}

.navbar-main .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color:white;

}

.navbar-main .navbar-nav>.active>p, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color:white;
}

.navbar-default .navbar-nav>.active>a:hover{
    background-color: #004d4d;
}

.navbar-main .navbar-header img{
    padding: 10px 15px;
}

.navbar-main .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
    background-color: black;
}

 .navbar-main .navbar-nav>.active>a:hover{
    background-color: #004d4d;
 
}

#nameandjobtitlebar>a:hover{
  background-color: #004d4d;
}

.carticon {
    color:#f08804;
}

.badgequantity {
    background-color:#f08804;
    font-size:15px;
}

.navprice {
     color:#f08804;
}

div.search {
   border: 2px #232f3e solid;
}

.navbar .search button{
   background-color:#f08804;
   color:#232f3e;
}


    .search-input input{
         /*max-width:160px;*/
    }




.modal-header {
    background-color:#232f3e;
    color:#f08804;
    border-bottom-color:#f08804;
}

.modal-header h4 {
   
    color:#f08804;
}

.modal .alert {
    margin-left:15px;
    margin-right:15px;
}

.modal-body img {
    border: 5px ridge #f08804;
    border-radius: 10px;
}

 .btn-proceed{
    background-color:#f08804;
    color:#232f3e;
}

.modal-footer {
    border-top: 1px solid #f08804;
}

 .btn-proceed{
    background-color:#f08804;
    color:#232f3e;
}


.book-quantity {
    display:inline-block;
    max-width:60px;
    border:none;
}



/*MODAL SHOPPING CART*/

#modalShoppingCart .modal-body {
    padding:15px;
}

#modalShoppingCart .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a {
    color:#337ab7;
    background-color:transparent;
    border-bottom: 2px solid #f4d078 ;
}

#modalShoppingCart hr.navbar-separator {
   border-top:  1px solid #232f3e;
}

.bg-success, .bg-info, .bg-danger, .bg-warning {
    padding:20px;
    border-radius:10pt;
}
/*section 3 bank info*/
#modalShoppingCart .bg-accts {
    padding:20px;
    border-radius:10pt;
}

/*helps span glyphicon not cover select dropdown sign*/
span.selectspan {
    right:5px;
}

/*.popimage {
    margin-left:50%;
    margin-top: 15%;

    width: 200px;
    height: 200px;
    
    -webkit-transform: translate(-50%,-50%); /* safari and chrome */
    -moz-transform: translate(-50%,-50%); /* firefox */
    -ms-transform: translate(-50%,-50%); /* ie 9 */
    -o-transform: translate(-50%,-50%); /* opera */
    transform: translate(-50%,-50%);
}*/


 .goTop {
  border-radius: 5px;
  background-color: rgb(1,14,27);
  background-color: rgba(1, 14, 27, .7);
  position: fixed;
  width: 45px;
  height: 45px;
  display: block;
  right: 15px;
  bottom: 15px;
  border: none;
  opacity: 0;
  z-index: -1;
  
}



 .goTop span {
    color: black;
    font-size: 22px;
  }

  .goTop span :hover {
    opacity: 1;
    background-color: rgb(1,14,27);
    background-color: rgba(1, 14, 27, .9);
  }

.isVisible {
  opacity: .6;
  z-index: 4;
  transition: all .4s ease-in;
}

