#body {
    //background-color: #eee  ;
    // background-image: url("../images/Bright-Blur-Abstract-Wallpaper-320x180.jpeg");
    // background-size:     cover;         
    // background-repeat:   no-repeat;
    // background-position: center center;
    background-color: #f6f8f8;
    
}

img {
    float: left;
}

.btn-primary {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.form-control {
  display: block;
  margin-bottom: 25px;
  margin-top:15px;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.intelicon-user-person-outlined{
    padding-right: 3px; 
}

.logincontainer{
    background-color: white;
    //opacity: 0.9; 
    padding: 20px 30px 15px;
    width: 360px;
    margin: 10% auto ;
    border:1px solid #ccc;
}

hr {
    border-color: #00AEEF;
}

label {
    color: #003C71;
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

body form div.alertBox {
    border: 2px solid #eed3d7; 
    border-radius: 5px;
    margin-bottom: 4px;
    background-color: #f2dede;
    padding: 9px 7px 0px 7px;
    display:none;
} 
body form div p{
    color: #b94a48;
    text-align: justify;
}
// .form-signin {
//     margin: 0 auto;
//     max-width: 330px;
//     padding: 15px;
// }
.form-signin-heading{
    color: black;
    text-align: center;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}